# ----------------------------------------------------------------
#      N8N & EVOLUTION API - ENVIRONMENT CONFIGURATION
# ----------------------------------------------------------------
#
# Instructions:
# 1. Rename this file to `.env`
# 2. Update REQUIRED values before deploying.
# 3. Generate secure random keys for secrets:
#    https://acte.ltd/utils/randomkeygen
#
# Legend:
# - #REQUIRED → MUST be set for the system to work
# - #OPTIONAL → Can be customized to match your environment
# ----------------------------------------------------------------


# ==========================
# Database: Postgres
# ==========================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=n8n


# ==========================
# Cache / Queue: Redis
# ==========================
REDIS_PASSWORD=redis


# ==========================
# n8n Core Config
# ==========================
DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=postgres
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=${POSTGRES_DB}
DB_POSTGRESDB_USER=${POSTGRES_USER}
DB_POSTGRESDB_PASSWORD=${POSTGRES_PASSWORD}

# Host & Security
N8N_ENCRYPTION_KEY=your_generated_encryption_key     # REQUIRED - keep secret!
N8N_HOST=your-domain.com                             # REQUIRED
N8N_PROTOCOL=https                                   # OPTIONAL
# N8N_SECURE_COOKIE=false                            # HTTPS -> comment | HTTP -> uncomment
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
NODE_ENV=production
GENERIC_TIMEZONE=America/Sao_Paulo

# Editor / Webhook URLs
N8N_EDITOR_BASE_URL=${N8N_PROTOCOL}://${N8N_HOST}
WEBHOOK_URL=${N8N_EDITOR_BASE_URL}

# Execution Mode (Queue + Redis)
EXECUTIONS_MODE=queue
QUEUE_BULL_REDIS_HOST=redis
QUEUE_BULL_REDIS_PORT=6379
QUEUE_BULL_REDIS_PASSWORD=${REDIS_PASSWORD}
QUEUE_BULL_REDIS_DB=2


# ==========================
# Evolution API
# ==========================
AUTHENTICATION_API_KEY=your_authentication_api_key    # REQUIRED
SERVER_URL=https://your-evoapi-domain.com             # REQUIRED

# Database
DATABASE_ENABLED=true
DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/evolution-app?schema=public
DATABASE_CONNECTION_CLIENT_NAME=evolution-app

# Cache
CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://default:${REDIS_PASSWORD}@redis:6379/5
CACHE_REDIS_PREFIX_KEY=evolution-app

# General
LANGUAGE=pt-BR
