SERVER_URL=http://localhost:8080 #Change
DATABASE_ENABLED=true
DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgres://postgres:${POSTGRES_PASSWORD}@postgres:5432/evolution-app
DATABASE_CONNECTION_CLIENT_NAME=evolution-app

CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://default:${REDIS_PASSWORD}@redis:6379/5
CACHE_REDIS_PREFIX_KEY=evolution-app

AUTHENTICATION_API_KEY=your_api_key #MandatoryChange
LANGUAGE=pt-BR
